canvas {
				display: block;
				margin: 50px auto;
				box-shadow: -12px -12px 12px #EFEFEF, 15px 15px 15px #B9B9B9;
				cursor: pointer;
			}
			.btn-wrap {
				display: flex;
				flex-direction: row;
				justify-content: center;
			}
			.btn-wrap div {
				margin: 0 10px;
			}
			div>span {
				display: inline-block;
				padding: 10px 9px;
				color: #FFFFFF;
				background-color: #EE82EE;
				border-radius: 5px;
				cursor: pointer;
			}
			div.unable span {
				background: #D6D6D4;
				color: #ADACAA;
			}
			#result-wrap {
				text-align: center;
			}